<div class="form-check form-check-inline">
  <input class="form-check-input check-radio" type="radio" name="estimator[body][<%= @field.machine_name %>]" value="true" checked="checked">
  <label class="form-check-label" for="final-clean-1">Yes <span>(Default)</span></label>
</div>