
<table class="no-border-table">
  <thead>
  <tr>
    <th width="25%">Total Owned</th>
    <th width="25%">Assigned</th>
    <th width="25%">Available</th>
    <th width="25%">Damaged</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= @equipment.total_owned %></td>
    <td><%= @equipment.available %></td>
    <td><%= @equipment.assigned %></td>
    <td><%= @equipment.damaged %></td>
  </tr>
  </tbody>
</table>
<hr>
<table class="no-border-table">
  <thead>
  <tr>
    <th width="40%">Astra Team Member</th>
    <th width="60%">Current Amount</th>
  </tr>
  </thead>
  <tbody>

  </tbody>
</table>
