.estimator-form{
	padding-top: 32px;
}
.form-section{
	padding-bottom: 24px;
}
.form-section__title{
	font-weight: 700;
	margin: 0 0 10px 0;
}
.estimator-form input[type="text"],
.estimator-form input[type="number"],
.estimator-form input[type="email"]{
	border-radius:0px !important;
	box-shadow: none !important;
}
.estimator-form textarea.form-control {
    border-radius:0px !important;
}
.estimator-form label{
	font-weight: 400 !important;
	margin-bottom: 0 !important;
}
.estimator-form input[type="radio"] {
    margin: 0 8px 0 0; 
}
.form-check {
    position: relative;
    display: block;
    padding-left: 1.25rem;
}
.form-check-inline {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 0;
    margin-right: 24px;
}

.check-number{
	text-align: right;
}
.avenue-living-logo__wrap{
	text-align: right;
}
.avenue-living-logo{
	margin: 38px 0 0 0;
}
#estimator-chs-form{
	display: none;
}
@media screen and (max-width: 767px){
	.mobile-form-group label.col-sm-4{
		width: 40%;
		float: left;
	}
	.mobile-form-group div.col-sm-4,
	.mobile-form-group div.col-sm-8{
		width: 60%;
		float: left;
	}
	.avenue-living-logo__wrap{
		text-align: left;
	}
	.avenue-living-logo{
		margin: 10px 0 0 0;
	}
}
