<div class="user-table__header">
  <div class="user-table__cell user-table__20"><%= sort_link(@q, :contact_name, 'Contact Name') %></div>
  <div class="user-table__cell user-table__16"><%= sort_link(@q, :telephone, 'Phone') %></div>
  <div class="user-table__cell user-table__22"><%= sort_link(@q, :email, 'Email') %></div>
  <div class="user-table__cell user-table__14"><%= sort_link(@q, :role, 'Role') %></div>
  <!-- <div class="user-table__cell user-table__10">Active Tasks</div> -->
  <div class="user-table__cell user-table__9">Fleet</div>
  <div class="user-table__cell user-table__12">Equipment</div>
  <div class="user-table__cell user-table__7"></div>
</div>
