<!-- Nav tabs -->
<ul class="nav nav-tabs" id="contractors" role="tablist">
  <li class="nav-item">
    <%= active_link_to 'Invoices', admin_invoices_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= active_link_to 'Archive', archive_admin_invoices_path, class: 'nav-link' %>
  </li>
</ul>

