<div class="col-sm-3 pd0">
  <div class="parentscrollside">
    <div class="childscrollside">
      <a href="/">
        <img src="/img/logo.png" class="img-responsive logo" itemprop="image" alt="General Contractor in Calgary">
      </a>
      <br>
      <ul class="newsidebar pd0">
        <a href="contact">
          <li>
            Contact Us
          </li>
          <li class="active">
            Work with us
          </li>
        </a>


      </ul>


      <a href="/brochures/Astra-Our_Company_Brochure(Online).pdf" download>
        <div class="newpdf-brochure">
          <div>Download <br>brochure</div>
          <img src="/img/icons/new-icons/pdf-brochure.png" alt="General Contractor in Calgary">
        </div>
      </a>

      <div class="sidecontactwrap">
        <p class="sidecontact">
          ASTRA Construction Management<br>
          888 – 3rd Street SW, 10th Floor<br>
          Bankers Hall, West Tower<br>
          Calgary, Alberta, T2P 5C5
        </p>
        <p><strong class="blue">1-833-MY-ASTRA</strong><br><strong class="blue">(403)
          796-3559</strong><br><span class="sidecontact">info@astramanagement.ca</span></p>
        <br>
        <a href="https://www.facebook.com/astramanagement" target="_blank">
          <img src="/img/icons/new-icons/fb_grey.png" class="social-grey" alt="General Contractor in Calgary">
        </a>
        <a href="https://twitter.com/astramgmt" target="_blank">
          <img src="/img/icons/new-icons/tw_grey.png" class="social-grey" alt="General Contractor in Calgary">
        </a>
        <a href="#" target="_blank">
          <img src="/img/icons/new-icons/in_grey.png" class="social-grey" alt="General Contractor in Calgary">
        </a>
        <a href="https://www.youtube.com/channel/UCjd9NvPBiiFXBL0D1mebkwQ" target="_blank">
          <img src="/img/icons/new-icons/youtube_grey.png" class="social-grey" alt="General Contractor in Calgary">
        </a>
        <a href="https://plus.google.com/115546200231998055442" target="_blank">
          <img src="/img/icons/new-icons/gplus_grey.png" class="social-grey" alt="General Contractor in Calgary">
        </a>
      </div>
    </div>
  </div>
</div>