<div class="row">
  <div class="col-sm-12 pd0">
    <br><br>
    <div class="bluebg">
      <div class="">

        <div class="row centered mt10">

          <img src="/img/icons/sertificates/sert1.png" class="iconsert" alt="General Contractors In Calgary, Construction Company In Calgary">

          <img src="/img/icons/sertificates/sert2.png" class="iconsert" alt="General Contractors In Calgary, Construction Company In Calgary">

          <img src="/img/icons/sertificates/sert3.png" class="iconsert" alt="General Contractors In Calgary, Construction Company In Calgary">

          <img src="/img/icons/sertificates/sert4.png" class="iconsert" alt="General Contractors In Calgary, Construction Company In Calgary">

          <img src="/img/icons/sertificates/sert5.png" class="iconsert" alt="General Contractors In Calgary, Construction Company In Calgary">

          <img src="/img/icons/sertificates/sert6.png" class="iconsert" alt="General Contractors In Calgary, Construction Company In Calgary">

          <img src="/img/icons/sertificates/sert7.png" class="iconsert" alt="General Contractors In Calgary, Construction Company In Calgary">

          <img src="/img/icons/sertificates/sert8.png" class="iconsert" alt="General Contractors In Calgary, Construction Company In Calgary">

        </div>
        <div class="row mt10">
          <div class="col-md-12 centered">
            <p class="white">ASTRA Construction Management strictly follows guidelines set by the Institute of
              Inspection, Cleaning & Restoration Certification
              (IICRC). We are proud members of the Better Business Bureau (BBB) with an A+ rating, and we hold COR
              safety certificate.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="mt10">
      <div class="row">
        <div class="col-md-11 col-md-offset-1">
          <div xmlns:v="http://rdf.data-vocabulary.org/#">
    <span typeof="v:Breadcrumb">
        <a href="/" rel="v:url" property="v:title">Astra Construction Management</a>
    </span>
            » Contact
          </div>

        </div>
      </div>
    </div>

    <footer>
      <div class="">
        <div class="row">
          <div class="col-md-3 col-sm-4 col-xs-4 mt30">
            <img src="/img/greylogo.png" class="logo" alt="General Contractors In Calgary, Construction Company In Calgary">
          </div>
          <div class="col-md-4 col-sm-8 col-xs-8 col-md-offset-5 mt30 right">
            <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" class="grey">
              ASTRA Construction Management<br>
              <span itemprop="streetAddress">888 – 3rd Street SW</span> 10th Floor<br>
              Bankers Hall, West Tower<br>
              <span itemprop="addressLocality">Calgary</span>,
              <span itemprop="addressRegion">Alberta</span>, T2P 5C5
            </p>

            <p itemprop="telephone" class="blue bold nomargandpadd font18">1-833-MY-ASTRA</p>
            <p itemprop="telephone" class="blue bold nomargandpadd font18">(403) 796-3559</p>
            <p itemprop="email" class="grey nomargandpadd">info@astramanagement.ca</p>
          </div>
        </div>
        <div class="row mt10">
          <div class="col-md-12">
            <a href="/">Our company</a> |
            <a href="restorations">Restorations</a> |
            <a href="architectural">Commercial</a> |
            <a href="certifications">Credentials</a> |
            <a href="press">Press</a> |
            <a href="contact">Contact</a> |
            <a href="/">About us</a> |
            <a href="corevalues">Core values</a> |
            <a href="missionandvision">Mission & vision</a> |
            <a href="asbestos">Asbestos Abatement</a> |
            <a href="mould">Mould Remediation</a> |
            <a href="stormdemage">Storm Damage</a> |
            <a href="waterdemage">Water Damage</a> |
            <a href="architectural">Architectural</a> |
            <a href="renovations">Commercial Renovations</a> |
            <a href="construction">Construction Management</a> |
            <a href="tenant">Tenant Improvements</a> |
            <a href="multifamily">Multi-family building</a>
            <a href="certifications">Certifications</a> |
            <a href="healthsafety">Health & safety</a> |
            <a href="environmental">Environmental</a> |
            <a href="corpresponsibility">Corporate responsibility</a> |
            <a href="community">Community</a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="centered">© Copyrights 2016 Astra Management. All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>
    </span>
  </div>
</div>