<div class="page__header">
  <div class="page__title"><h1>Error</h1></div>
  <div class="delimiter"></div>
</div>
<section class="pagination" style="background: white; padding: 16px;">
  A technical error has occurred!<br>
  Go to another menu item
</section>