<div class="page__header">
  <div class="page__title"><h1>Access Denied</h1></div>
  <div class="delimiter"></div>
</div>
<section class="pagination" style="background: white; padding: 16px;">
  You do not have access!<br>
  Go to another menu item
</section>