<div class="modal fade" id="create-role-modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h2 class="modal-title text-center">Add new role</h2>
      <div id="new-role-form">
        <%= render 'admin/roles/form' %>
      </div>
    </div>
  </div>
</div>
