<ul class="nav nav-tabs" id="contractors" role="tablist">
  <li class="nav-item">
    <%= link_to 'Astra team', '/admin/approved_team', class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Fleet', admin_vehicles_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Equipment', admin_equipment_index_path, class: 'nav-link' %>
  </li>
</ul>
